.cart{
    font-size: 2rem;
}

.cart-btn{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin-top: 3rem;
    cursor: pointer;
    
}


.cart-img{
    width: 20.8rem;
    height: 20.6rem;
    object-fit: cover;

  }
  .cart-img img{
    width: 100%;
    height: 100%;
  }
  .cart{
    margin: 1rem 1.5rem;
   
    width: 20.8rem;
    height: 100%;
    border-radius: 0.4rem;
  

  }
  
 
  
  .cart-detail{
    padding: 1.2rem 0.8rem;
  }
  