.main-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.greeting{
  text-align: center;
}

.card-img{
    width: 20.8rem;
    height: 20.6rem;
    object-fit: cover;

  }
  .card-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .card{
    margin: 1rem 1.5rem;
   
    width: 20.8rem;
    height: 100%;
    border-radius: 0.4rem;
    box-shadow: 0rem 0rem .04rem rgba(0,0,0,0.50);
    background-color: #fff;
    overflow: hidden;  
    transition: all 0.20s ease-in;

  }
  
  .card:hover{
    box-shadow: 0rem 0.4rem 1.2rem 0.2rem rgba(0,0,0,0.25);
    transform: translateY(-0.6rem);
  }
  
  .card-detail{
    padding: 1.2rem 0.8rem;
  }
  
  small{
    color: #8c8c8e;
  }